<ion-view hide-nav-bar="true" view-title="achManage">
    <ion-content style="height: 500px">
        <div style="border-width: 1px;border-style: solid;border-color: #007aff">
        index:<input type="text" placeholder="title" ng-model="newAchInfo.index">
        title:<input type="text" placeholder="title" ng-model="newAchInfo.title">
        成员:<input type="text" placeholder="成员" ng-model="newAchInfo.members">
        分类:<input type="text" placeholder="分类" ng-model="newAchInfo.catalog">
        poster:<input  style="display: block" type="file" class="button"
                      ngf-select="onFileSelect($file)"
                      ngf-no-object-url="true"
                      ng-model="selectedFile">
        <!--poster:<input id="poster" type="file" accept=".jpg,.gif,.png" ngf-select="onFileSelect(files)"/>-->


            <!--<img ng-src="{{poster}}">-->
            <img style="display: block" ngf-src="selectedFile"
                 ngf-resize="{width: 150, height: 150, quality: 1}" >

        <button ng-click="addAch()">添加</button>
        <button ng-click="cancel()">取消</button>
        </div>

        <div class="list" style="margin-top: 20px">
            <div class="item" ng-repeat="a in achs">
                {{a.get('title')}} -- {{a.get('members')}}
                <button ng-click="delAch(a)">删除</button>
            </div>
        </div>

    </ion-content>
</ion-view>