<ion-view view-title="detail" class="appBG">
    <!--<ion-content class="appBG" style="position: absolute;" >-->
    <!--<div style="height: 240px">-->
    <!--</div>-->
    <ion-nav-view style="height:auto;"></ion-nav-view>
    <div class="detailHead has-header" style="height: 240px;width: 100%;position: absolute;z-index: 99999">
        <div style="background-color: white;width: 100%;height: 190px;position: absolute">
            <div class="achPoster"
                 style="background-image: url({{$root.ach.get('poster').url()}});"></div>
            <span style="display:inline-block;margin-top: 10px">{{$root.ach.get('title')}}</span>
            <button class="button-clear ion-chatbox commentsBtn"
                    style="width: 50px;margin-top: 10px"
                    ng-click="comment()"> {{$root.countComments}}
            </button>
            <button class="button-clear ion-thumbsup likesBtn"
                    style="width: 50px;margin-top: 10px"
                    ng-class="{'highLight':$root.ach.alreadyLike}"
                    ng-click="toggleLike()"> {{$root.countLikes}}
            </button>
            <div class="splitter" style="position: absolute;top:100%;margin: 0 "></div>
        </div>
        <div style="height: 190px;"></div>
        <div class="appBG" style="height: 50px;">
            <div class="type-tabs">
                <div class="tabBlock" ng-click="changeIndex(0)">
                    <button ng-class="{'highLight':activeIndex===0}"
                            class="button-clear ion-document-text"></button>
                </div>
                <div class="vSplitter" style="display: inline-block;top:5px"></div>
                <div class="tabBlock" ng-click="changeIndex(1)">
                    <button ng-class="{'highLight':activeIndex===1}" class="button-clear ion-chatbox"></button>
                </div>
                <div class="vSplitter" style="display: inline-block;top:5px"></div>
                <div class="tabBlock" ng-click="changeIndex(2)">
                    <button ng-class="{'highLight':activeIndex===2}" class="button-clear ion-thumbsup"></button>
                </div>
            </div>
            <div class="guid-bar">
                <div class="guid-bar-content" style="left:calc({{ 33*activeIndex}}% + 5%)"></div>
            </div>
        </div>
    </div>

    <!--</ion-content>-->

</ion-view>