<ion-view hide-nav-bar="true" view-title="management">
    <ion-content class="padding" style="height: 500px">
        <!--<div ng-if="!loged">-->
            <!--<input type="text" placeholder="用户名" ng-model="username" style="display: inline-block">-->
            <!--<input type="password" placeholder="密码" ng-model="password" style="display: inline-block">-->
            <!--<button ng-click="login(username,password)">管理员登录</button>-->
        <!--</div>-->

        <!--<div ng-if="loged">-->
        <div>
            <p>welcome: admin</p>
            <!--welcome: {{adminUser.get('username')}}-->
            <!--<button ng-click="logout()">注销</button>-->
            <a ui-sref="management.ach">编辑事迹</a>
            <a ui-sref="management.role">编辑角色</a>
        </div>
        <ion-nav-view style="height: 500px">

        </ion-nav-view>
    </ion-content>
</ion-view>