<ion-view view-title="mentors">
    <ion-content class="padding">
        <div>
            <div class="headpic">
                <div class="headpicmid" ng-style="headPW" ng-repeat="m in mentorsInfo">
                    <img ng-src="{{m.imgPath}}"
                         class="mentorsImg"
                         ng-class="{'mentorsImgHovr':selectedM===$index}"
                         ng-click="GetMentorInfo($index)"/>
                </div>
            </div>
            <div class="list">
                <div class="item item-avatar appBG" style="border: 0">
                    <img ng-src="{{selectedMentor.get('avatar').url()}}">
                    <h2><span class="highLightText">{{selectedMentor.get('name')}}</span> |
                        {{selectedMentor.get('department')}}</h2>
                    <p>{{selectedMentor.get('company')}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

