<ion-view view-title="mentors">
    <ion-content class="padding">
        <div>
            <div class="headpic">
                <div class="headpicleft" ><img id="pic00" src="./img/pic1.png"  ng-class="{true:'mentorsImgHovr',false:'mentorsImg'}[picActive00]" ng-click="GetMentorInfo(0,'pic00')"/></div>
                <div class="headpicmid"  ><img id="pic01" src="./img/pic1.png"  ng-class="{true:'mentorsImgHovr',false:'mentorsImg'}[picActive01]" ng-click="GetMentorInfo(1,'pic01')"/></div>
                <div class="headpicmid"  ><img id="pic02" src="./img/pic1.png"  ng-class="{true:'mentorsImgHovr',false:'mentorsImg'}[picActive02]" ng-click="GetMentorInfo(2,'pic02')"/></div>
                <div class="headpicmid"  ><img id="pic03" src="./img/pic1.png"  ng-class="{true:'mentorsImgHovr',false:'mentorsImg'}[picActive03]" ng-click="GetMentorInfo(3,'pic03')"/></div>
                <div class="headpicmid"  ><img id="pic04" src="./img/pic1.png"  ng-class="{true:'mentorsImgHovr',false:'mentorsImg'}[picActive04]" ng-click="GetMentorInfo(4,'pic04')"/></div>
            </div>
            <div class="list">
                <div class="item item-avatar appBG" style="border: 0">
                    <img ng-src="{{avatar.url()}}">
                    <h2><span class="highLightText">{{name}}</span> | {{department}}</h2>
                    <p>{{company}}</p>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>

