<ion-view hide-nav-bar="true" view-title="roleManage">
    <ion-content style="height: 500px">
        <div style="border-width: 1px;border-style: solid;border-color: #007aff">

            <input type="text" placeholder="user info id" ng-model="searchInfo.text">
            <div ng-repeat=" fu in foundUsers" ng-click="selectUser(fu)">
                {{fu.get('name')}} - {{fu.get('department')}}
            </div>


            <input type="text" placeholder="导师（1），专业评委（2）,admin:3" ng-model="roleType">
            <button ng-click="addRole(roleType)">添加</button>
        </div>
        <div class="list" style="margin-top: 20px">
            <div class="item" ng-repeat="r in roles">
                {{r.get('userInfo').get('name')}} -- {{r.get('roleType')}}
                <button ng-click="delRole(r)">删除</button>
            </div>
        </div>

    </ion-content>
</ion-view>