/* Empty. Add your own CSS if you like */

.appBG {
    background-color: rgba(237, 237, 237, 1);
}

.headbarBtn {
    position: relative;
    left: calc(100% - 80px);
    margin-right: 10px;
    /*float: right !important;*/
}

.hidden {
    opacity: 0;
}

.achBlock {
    /*border-style: solid;*/
    /*border-width: 1px;*/
    /*border-color: #007aff;*/

    background-color: #ffffff;
    position: relative;
    width: 90%;
    left: 5%;
    height: 250px;
    margin: 20px 0 0 0;
    padding: 5px;

    -moz-box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.4);
    -webkit-box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.4);
    box-shadow: 2px 2px 4px hsla(0, 0%, 0%, 0.4);
}

.achPoster {
    width: 100%;
    height: 150px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
}

.splitter {
    background: -webkit-linear-gradient(left, #ffffff 0%, #444444 30%, #444444 70%, #ffffff 100%);
    margin: 5px;
    position: relative;
    /*left: 5%;*/
    width: 100%;
    height: 1px;
}

.vSplitter {
    /*float: left;*/
    /*background-color: #111111;*/
    background: -webkit-linear-gradient(top, #ffffff 0%, #444444 30%, #444444 70%, #ffffff 100%);
    /*margin: 5px;*/
    position: relative;
    /*left: 5%;*/
    width: 1px;
    height: 30px;
}

.achTitle {

}

.achCatalog {
    float: right;
}

.achMembers {
    color: #999999;
    font-size: 50%;
}

.likesBtn {
    margin: 0 5px;
    float: right;
}

/*.alreadyLike {*/
/*color: #007aff !important;*/
/*}*/

.highLight {
    color: #007aff !important;
}

.highLightText {
    color: #00478c !important;
}

.commentsBtn {
    margin: 0 5px;
    float: right;
}

.type-tabs {
    width: 100%;
    height: 40px;
}

.type-tabs .tabBlock {
    /*position: relative;*/
    /*float: left;*/
    display: inline-block;
    width: 31%;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;

}

.guid-bar {
    position: relative;
    margin-top: -3px;
}

.guid-bar-content {
    width: 23%;
    height: 3px;
    background-color: #007aff;
    /*background-color: #345;*/
    position: absolute;
    transition: all 400ms ease;
}

.mCommentArea {
    height: 220px;
}

.CommentArea {
    height: 300px;
}

.mentorArea {
    width: 145px;
    height: 180px;

    background-color: #fff;
    /*border: solid red 1px;*/
    padding: 5px;
    margin: 4px 0;

    -moz-box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.4);
    -webkit-box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.4);
    box-shadow: 1px 1px 2px hsla(0, 0%, 0%, 0.4);
}

.mentorArea .avatar {
    position: relative;
    top: 10px;
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    border-radius: 50%;
}

.mentorArea .comment {
    width: 100%;
    height: 85px;

    /*border: solid green 1px;*/
    margin-top: 10px;
    padding: 5px;
    /*text-overflow: ellipsis;*/
    overflow: hidden;

    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    -webkit-text-size-adjust: none;

    font-size: 12px !important;
}

.mentorArea .name {
    position: relative;
    width: 50%;
    left: 25%;
    text-align: center;
}